@use '../abstracts/mixins' as *;

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    background-color: #efefef;
}

.page-container {
    padding: 24px 32px;
}

p {
    margin-bottom: 0;
}

a {
    text-decoration: none;
    text-wrap: nowrap;
}

.line {
    height: 1px;
    background: #E2E8F0;
}

input {
    border: none;
    outline: none;
}

button {
    border: none;
    background-color: transparent;
    text-wrap: nowrap;
}

select {
    outline: none;
    border: none;

    &:focus {
        border: none;
        box-shadow: none;
        border: none;
    }
}

textarea {
    resize: none;
    outline: none;
    border: none;
}

.section-title {
    color: #111814;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: -0.75px;
}