.swipe-buttons {
    display: flex;
    gap: 8px;

    .swipe-button {
        padding: 12px;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
}