.breadcrumb {

    a {
        color: #737373;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;

    }

    li {
        color: #111814;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
    }
}