@use '../abstracts/mixins' as *;

header {
    padding: 12px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    background-color: #fff;


    @include mq(tablet-portrait-up) {
        gap: 16px;
    }

    .header-input-div {
        flex-grow: 1;
    }

    .header-search-mobile {
        margin-left: auto;
    }

    .logo {
        width: 176px;
        height: 57.081px;
        aspect-ratio: 37/12;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    nav {
        display: flex;
        align-items: center;
        gap: 24px;

        @include mq(tablet-portrait-up) {
            display: none;
        }

        a {
            color: #111814;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 20px;
        }
    }

    .header-actions {
        display: flex;
        align-items: center;
        gap: 8px;

        @include mq(tablet-portrait-up) {
            display: none;
        }

        .header-btn {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            padding: 12px;
            border-radius: 24px;
            background: #F0F4F2;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .menu-button {
        width: fit-content;

        img {
            width: 36px;
            height: 36px;
        }

        @include mq(tablet-portrait-down) {
            display: none;
        }
    }

    .header-input-div {
        @include mq(tablet-portrait-up) {
            display: none;
        }
    }

}

.is-sticky {
    backdrop-filter: blur(104px);
    -webkit-backdrop-filter: blur(104px);
    background: rgba(255, 255, 255, 0.78);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;

    .black-icon {
        display: inline;
        width: 32px;
        height: 32px;
    }

    .white-icon {
        display: none;
    }

    .logo-div-blured {
        display: block;
        width: 106px;
        height: 32px;
        padding: 0;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    .logo-div {
        display: none;
    }

    nav {
        a {
            color: #000;
        }
    }

    .header-actions {
        .btn-group {
            .dropdown-toggle {
                color: #000;
            }
        }

    }

}