.page-head {
    .head-title {
        color: #111814;
        font-size: 48px;
        font-style: normal;
        font-weight: 500;
        line-height: 48px;
        letter-spacing: -1.2px;
    }

    .head-description {
        color: #618972;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
    }
}