@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background-color: #efefef;
}

.page-container {
  padding: 24px 32px;
}

p {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  text-wrap: nowrap;
}

input {
  border: none;
  outline: none;
}

button {
  border: none;
  background-color: transparent;
  text-wrap: nowrap;
}

select {
  outline: none;
  border: none;
}
select:focus {
  border: none;
  box-shadow: none;
  border: none;
}

textarea {
  resize: none;
  outline: none;
  border: none;
}

.section-title {
  color: #111814;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: -0.75px;
}

header {
  padding: 12px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  background-color: #fff;
}
header .header-input-div {
  flex-grow: 1;
}
header .logo {
  width: 176px;
  height: 57.081px;
  aspect-ratio: 37/12;
}
header .logo img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
header nav {
  display: flex;
  align-items: center;
  gap: 24px;
}
header nav a {
  color: #111814;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}
header .header-actions {
  display: flex;
  align-items: center;
  gap: 8px;
}
header .header-actions .header-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 12px;
  border-radius: 24px;
  background: #F0F4F2;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  padding: 64px 32px 32px 32px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  gap: 48px;
}
footer .footer-intro {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 30%;
}
footer .footer-intro .logo {
  width: 266px;
  height: 86px;
}
footer .footer-intro .logo img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
footer .footer-intro .intro-description {
  color: #618972;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}
footer .footer-intro .social-links {
  display: flex;
  align-items: center;
  gap: 16px;
}
footer .footer-intro .social-links .social-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #F0F4F2;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .pages {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
footer .pages .pages-title {
  margin-bottom: 12px;
  color: #111814;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
footer .pages a {
  color: #618972;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
footer .contact {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
footer .contact .contact-title {
  color: #111814;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
footer .contact .contact-info {
  display: flex;
  align-items: center;
  gap: 12px;
}
footer .contact .contact-info img {
  width: 20px;
  height: 16px;
}
footer .contact .contact-info span {
  color: #618972;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
footer .hours {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
footer .hours .hours-title {
  color: #111814;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 12px;
}
footer .hours .hour-info {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}
footer .hours .hour-info .label {
  color: #618972;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
footer .hours .hour-info .value {
  color: #111814;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
footer .hours .hour-info .value-danger {
  color: #EF4444;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.bottom-bar {
  display: flex;
  justify-content: space-between;
  padding: 32px;
  background-color: #fff;
  border-top: 1px solid #F0F4F2;
}
.bottom-bar .copyright {
  color: #618972;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.bottom-bar-links {
  display: flex;
  align-items: center;
  gap: 24px;
}
.bottom-bar-links a {
  color: #618972;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.header-input-div {
  padding: 11px 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 24px;
  background: #F0F4F2;
}
.header-input-div input {
  flex-wrap: 1;
  background-color: transparent;
  color: #618972;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.whatsapp-button {
  border-radius: 24px;
  background: #009933;
  box-shadow: 0 10px 15px -3px rgba(17, 212, 98, 0.2), 0 4px 6px -4px rgba(17, 212, 98, 0.2);
  padding: 12px 24px;
  display: flex;
  align-items: center;
  gap: 12px;
}
.whatsapp-button img {
  width: 16px;
  height: 16px;
}
.whatsapp-button span {
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.btn-green {
  padding: 15px 32px;
  border-radius: 24px;
  background: #11D462;
  box-shadow: 0 10px 15px -3px rgba(17, 212, 98, 0.3), 0 4px 6px -4px rgba(17, 212, 98, 0.3);
  display: flex;
  align-items: center;
  gap: 8px;
}
.btn-green span {
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.btn-download {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 14px 32px;
  border-radius: 24px;
  border: 1px solid #E5E7EB;
  background: #FFF;
}
.btn-download span {
  color: #111814;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.see-all {
  display: flex;
  align-items: center;
  gap: 8px;
}
.see-all span {
  color: #11D462;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.feature-card {
  padding: 24px;
  border-radius: 32px;
  border: 1px solid #F0F4F2;
  background: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feature-card .card-icon {
  margin-bottom: 12px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
}
.feature-card .card-title {
  color: #111814;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
.feature-card .card-description {
  color: #618972;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.feature-card .car {
  background: #EFF6FF;
}
.feature-card .recycle {
  background: #F0FDF4;
}
.feature-card .operator {
  background: #FFF7ED;
}
.feature-card .check {
  background: #EFF6FF;
}

.recently-product-card {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 32px;
  border: 1px solid #F0F4F2;
  background: #FFF;
}
.recently-product-card .product-img {
  height: 250px;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}
.recently-product-card .product-img .favorite-icon {
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 12px;
  right: 12px;
  background-color: #fff;
  border-radius: 50%;
}
.recently-product-card .product-img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.recently-product-card .product-infos {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
}
.recently-product-card .product-infos .product-title {
  color: #111814;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22.5px;
}
.recently-product-card .product-infos .product-size {
  color: #618972;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.recently-product-card .product-infos .badget-new {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 8px;
  border-radius: 6px;
  background: rgba(17, 212, 98, 0.1);
}
.recently-product-card .product-infos .badget-new span {
  color: #11D462;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}
.recently-product-card .card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.recently-product-card .card-footer .product-price {
  color: #111814;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
.recently-product-card .card-footer .shop-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  background: #F0F4F2;
  border-radius: 50%;
}

.discounted-product-card {
  padding: 12px;
  border-radius: 24px;
  background: #FFF;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  height: -moz-fit-content;
  height: fit-content;
  gap: 16px;
  min-width: 235px;
}
.discounted-product-card .product-img {
  width: 80px;
  height: 80px;
  border-radius: 16px;
  overflow: hidden;
}
.discounted-product-card .product-img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.discounted-product-card .product-infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.discounted-product-card .product-infos .product-title {
  color: #111814;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80px;
}
.discounted-product-card .product-infos .product-prices {
  display: flex;
  align-items: center;
  gap: 8px;
}
.discounted-product-card .product-infos .product-prices .discount-price {
  color: #EF4444;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
.discounted-product-card .product-infos .product-prices .main-price {
  color: #618972;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-decoration-line: line-through;
}

.popular-product-card {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.popular-product-card .product-image {
  height: 290px;
  border-radius: 24px;
  overflow: hidden;
}
.popular-product-card .product-image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.popular-product-card .product-infos {
  display: flex;
  flex-direction: column;
}
.popular-product-card .product-infos .product-name {
  color: #111814;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.popular-product-card .product-infos .product-price {
  color: #11D462;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.subscribe-card {
  padding: 48px;
  border-radius: 24px;
  border: 1px solid rgba(240, 244, 242, 0.1);
  background: #111814;
  display: flex;
  justify-content: space-between;
  gap: 32px;
}
.subscribe-card .card-intro {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 50%;
}
.subscribe-card .card-intro .card-title {
  color: #FFF;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
}
.subscribe-card .card-intro .card-description {
  color: #9CA3AF;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
.subscribe-card .card-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 50%;
}
.subscribe-card .card-form .form {
  display: flex;
  align-items: center;
  gap: 12px;
}
.subscribe-card .card-form .form input {
  padding: 15px 20px;
  color: #9CA3AF;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  flex-grow: 1;
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.1);
}
.subscribe-card .card-form .form .subscribe-button {
  padding: 15px 32px;
  border-radius: 24px;
  background: #11D462;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.subscribe-card .card-form .form-warning {
  color: #6B7280;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.listed-product-card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: #fff;
  padding: 12px;
  border-radius: 24px;
}
.listed-product-card .product-image {
  height: 125px;
  border-radius: 24px;
  overflow: hidden;
}
.listed-product-card .product-image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.listed-product-card .card-body {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.listed-product-card .card-body .category {
  color: #11D462;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}
.listed-product-card .card-body .product-name {
  color: #0F172A;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
}
.listed-product-card .card-body .product-description {
  color: #64748B;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
}
.listed-product-card .card-footer .product-price {
  color: #0F172A;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
.listed-product-card .card-footer .product-price span {
  color: #64748B;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}
.listed-product-card .card-footer .btn-add {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  border-radius: 50%;
  border: 1px solid #E2E8F0;
  margin-left: auto;
}

.pagination {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 8px;
}
.pagination li {
  display: flex;
}
.pagination .page-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  text-decoration: none;
  color: #4a5568;
  font-size: 15px;
  font-weight: 600;
  background-color: transparent;
  border: 1.5px solid #e2e8f0;
  border-radius: 14px;
  transition: all 0.2s ease-in-out;
}
.pagination .page-link:hover:not(.active) {
  background-color: #f7fafc;
  border-color: rgb(192.3863636364, 205.3409090909, 222.6136363636);
}
.pagination .page-link.active {
  background-color: #10d068;
  color: #ffffff;
  border-color: #10d068;
  box-shadow: 0 8px 16px -4px rgba(16, 208, 104, 0.35);
}
.pagination .page-link svg {
  color: #64748b;
}
.pagination .page-link:hover:not(.active) svg {
  color: #4a5568;
}
.pagination .ellipsis {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 42px;
  color: #a0aec0;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1;
  padding-bottom: 6px;
}

.filter-accordion .accordion-item {
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.filter-accordion .accordion-button {
  padding: 0;
  background-color: transparent;
  border-bottom: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filter-accordion .accordion-button img {
  transition: all 0.2s ease-in;
}
.filter-accordion .accordion-button::after {
  display: none;
}
.filter-accordion .accordion-button:focus {
  box-shadow: none;
  border: none;
  background-color: transparent;
}
.filter-accordion .accordion-body {
  padding: 0;
}
.filter-accordion .collapsed img {
  transform: rotate(-180deg);
}

.homepage-container {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.homepage-container .homepage-hero {
  padding: 48px;
  background-color: #fff;
  display: flex;
  gap: 32px;
  border-radius: 24px;
}
.homepage-container .homepage-hero .hero-intro {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.homepage-container .homepage-hero .hero-intro .new-collection {
  padding: 4px 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 9999px;
  background: rgba(17, 212, 98, 0.1);
}
.homepage-container .homepage-hero .hero-intro .new-collection .circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #11D462;
}
.homepage-container .homepage-hero .hero-intro .new-collection span {
  color: #11D462;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}
.homepage-container .homepage-hero .hero-intro .hero-title {
  color: #111814;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: -1.5px;
}
.homepage-container .homepage-hero .hero-intro .hero-title span {
  color: #11D462;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.homepage-container .homepage-hero .hero-intro .hero-description {
  color: #618972;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 29.25px;
}
.homepage-container .homepage-hero .hero-intro .hero-actions {
  display: flex;
  align-items: center;
  gap: 16px;
}
.homepage-container .homepage-hero .hero-intro .hero-features {
  display: flex;
  align-items: center;
  gap: 24px;
}
.homepage-container .homepage-hero .hero-intro .hero-features .hero-feature {
  display: flex;
  align-items: center;
  gap: 8px;
}
.homepage-container .homepage-hero .hero-intro .hero-features .hero-feature span {
  color: #618972;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin-top: 3px;
}
.homepage-container .homepage-hero .hero-image {
  border-radius: 24px;
  overflow: hidden;
  position: relative;
  background-color: red;
}
.homepage-container .homepage-hero .hero-image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.homepage-container .homepage-hero .hero-image .product-info-badget {
  position: absolute;
  bottom: 24px;
  left: 24px;
  right: 24px;
  z-index: 2;
  background-color: #fff;
  padding: 12px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
.homepage-container .homepage-hero .hero-image .product-info-badget .badget-icon {
  border-radius: 16px;
  background: #F3F4F6;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
}
.homepage-container .homepage-hero .hero-image .product-info-badget .badget-icon img {
  width: 24px;
  height: 24px;
}
.homepage-container .homepage-hero .hero-image .product-info-badget .badget-infos {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.homepage-container .homepage-hero .hero-image .product-info-badget .badget-infos .product-name {
  color: #111814;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.homepage-container .homepage-hero .hero-image .product-info-badget .badget-infos .product-category {
  color: #618972;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}
.homepage-container .homepage-hero .hero-image .product-info-badget .badget-price {
  display: flex;
  flex-direction: column;
}
.homepage-container .homepage-hero .hero-image .product-info-badget .badget-price .discount-price {
  color: #11D462;
  text-align: right;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
.homepage-container .homepage-hero .hero-image .product-info-badget .badget-price .main-price {
  color: #618972;
  text-align: right;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
  text-decoration-line: line-through;
}
.homepage-container .homepage-features {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}
.homepage-container .recently-added {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.homepage-container .recently-added .section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.homepage-container .recently-added .section-body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}
.homepage-container .discounted-products-section {
  border-radius: 24px;
  border: 1px solid rgba(17, 212, 98, 0.1);
  background: rgba(17, 212, 98, 0.05);
  padding: 40px;
  display: flex;
  gap: 32px;
}
.homepage-container .discounted-products-section .section-intro {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 35%;
}
.homepage-container .discounted-products-section .section-intro .special-offer {
  padding: 4px 12px;
  border-radius: 24px;
  background: #FEE2E2;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 8px;
}
.homepage-container .discounted-products-section .section-intro .special-offer span {
  color: #DC2626;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}
.homepage-container .discounted-products-section .section-intro .intro-description {
  color: #618972;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.homepage-container .discounted-products-section .section-intro .all-sales {
  padding: 12px 24px;
  border-radius: 24px;
  background: #111814;
  width: -moz-fit-content;
  width: fit-content;
}
.homepage-container .discounted-products-section .section-intro .all-sales span {
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.homepage-container .discounted-products-section .discounted-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 24px;
  flex-grow: 1;
}
.homepage-container .popular-products {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 64px;
}
.homepage-container .popular-products .section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.homepage-container .popular-products .section-header .swipe-buttons {
  display: flex;
  gap: 8px;
}
.homepage-container .popular-products .section-header .swipe-buttons .swipe-button {
  padding: 12px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products-page {
  padding: 32px 160px 56px 160px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.products-page .products-hero {
  height: 220px;
  border-radius: 24px;
  overflow: hidden;
  position: relative;
}
.products-page .products-hero img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.products-page .products-hero .hero-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: absolute;
  bottom: 32px;
  left: 32px;
  width: 70%;
}
.products-page .products-hero .hero-text .hero-title {
  color: #FFF;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
}
.products-page .products-hero .hero-text .hero-description {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.products-page .products-container {
  display: flex;
  gap: 32px;
}
.products-page .products-container .product-filter {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.products-page .products-container .product-filter .line {
  height: 1px;
  background: #E2E8F0;
}
.products-page .products-container .product-filter .filter-type {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.products-page .products-container .product-filter .filter-type .type-title {
  margin-bottom: 3px;
  color: #0F172A;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
.products-page .products-container .product-filter .filter-type .form-range {
  height: 0;
}
.products-page .products-container .product-filter .filter-type .filter-inputs {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.products-page .products-container .product-filter .filter-type .filter-inputs .filter-input-div {
  display: flex;
  align-items: center;
  gap: 12px;
}
.products-page .products-container .product-filter .filter-type .filter-inputs .filter-input-div input {
  width: 20px;
  height: 20px;
  border-radius: 8px;
  border: 1px solid #D1D5DB;
  background: #FFF;
}
.products-page .products-container .product-filter .filter-type .filter-inputs .filter-input-div label {
  color: #475569;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.products-page .products-container .product-filter .filter-type .ranges {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.products-page .products-container .product-filter .filter-type .ranges span {
  color: #475569;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.products-page .products-container .product-list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.products-page .products-container .product-list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.products-page .products-container .product-list-header .product-count {
  color: #0F172A;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
.products-page .products-container .product-list-header .sort {
  display: flex;
  align-items: center;
  gap: 12px;
}
.products-page .products-container .product-list-header .sort .label {
  color: #64748B;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.products-page .products-container .product-list-header .sort .select-div {
  border-radius: 24px;
  border: 2px solid #E2E8F0;
  background: #FFF;
  padding: 10px;
  min-width: 192px;
  cursor: pointer;
}
.products-page .products-container .product-list-header .sort .select-div select {
  color: #0F172A;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  width: 100%;
}
.products-page .products-container .product-list-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.products-page .products-container .product-list-body .product-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 24px;
  width: 100%;
}/*# sourceMappingURL=style.css.map */