@use '../abstracts/mixins' as *;

.homepage-container {
    display: flex;
    flex-direction: column;
    gap: 48px;

    @include mq(tablet-portrait-up) {
        gap: 0px;
    }

    .homepage-hero {
        padding: 48px;
        background-color: #fff;
        display: flex;
        gap: 32px;
        border-radius: 24px;

        @include mq(tablet-landscape-up) {
            flex-direction: column;
        }

        .hero-intro {
            display: flex;
            flex-direction: column;
            gap: 24px;
            flex-grow: 1;

            .new-collection {
                padding: 4px 12px;
                display: flex;
                align-items: center;
                gap: 8px;
                width: fit-content;

                border-radius: 9999px;
                background: rgba(17, 212, 98, 0.10);

                .circle {
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background: #11D462;
                }

                span {
                    color: #11D462;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 16px;
                    letter-spacing: 0.3px;
                    text-transform: uppercase;
                }
            }

            .hero-title {
                color: #111814;
                font-size: 60px;
                font-style: normal;
                font-weight: 700;
                line-height: 60px;
                letter-spacing: -1.5px;

                span {
                    color: #11D462;
                    font-size: 60px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }
            }

            .hero-description {
                color: #618972;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 29.25px;
            }

            .hero-actions {
                display: flex;
                align-items: center;
                gap: 16px;
            }

            .hero-features {
                display: flex;
                align-items: center;
                gap: 24px;

                .hero-feature {
                    display: flex;
                    align-items: center;
                    gap: 8px;

                    span {
                        color: #618972;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 20px;
                        margin-top: 3px;
                    }
                }

            }
        }

        .hero-image {
            border-radius: 24px;
            overflow: hidden;
            position: relative;
            background-color: red;
            max-width: 500px;
            max-height: 400px;

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
                z-index: 1;
            }

            .product-info-badget {
                position: absolute;
                bottom: 24px;
                left: 24px;
                right: 24px;
                z-index: 2;
                background-color: #fff;
                padding: 12px;
                border-radius: 24px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 16px;


                .badget-icon {
                    border-radius: 16px;
                    background: #F3F4F6;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 12px;

                    img {
                        width: 24px;
                        height: 24px;
                    }
                }

                .badget-infos {
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;

                    .product-name {
                        color: #111814;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 24px;
                    }

                    .product-category {
                        color: #618972;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 16px;
                    }
                }

                .badget-price {
                    display: flex;
                    flex-direction: column;

                    .discount-price {
                        color: #11D462;
                        text-align: right;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 28px;
                    }

                    .main-price {
                        color: #618972;
                        text-align: right;
                        font-size: 10px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 15px;
                        text-decoration-line: line-through;
                    }

                }

            }
        }

    }

    .homepage-features {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;

        @include mq(tablet-portrait-up) {
            grid-template-columns: repeat(2, 1fr);
            padding: 8px 0px;
        }

        @include mq(phone-only) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .recently-added {
        display: flex;
        flex-direction: column;
        gap: 24px;

        @include mq(tablet-portrait-up) {
            padding: 8px 0px 30px 0px;
            gap: 16px;
        }

        .section-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        // .section-body {
        //     // display: grid;
        //     // grid-template-columns: repeat(4, 1fr);
        //     // gap: 24px;

        //     // @include mq(tablet-portrait-up) {
        //     //     grid-template-columns: repeat(2, 1fr);
        //     // }


        //     // @include mq(phone-only) {
        //     //     grid-template-columns: repeat(1, 1fr);
        //     // }
        // }
    }

    .discounted-products-section {
        border-radius: 24px;
        border: 1px solid rgba(17, 212, 98, 0.10);
        background: rgba(17, 212, 98, 0.05);
        padding: 40px;
        display: flex;
        gap: 32px;

        @include mq(tablet-portrait-up) {
            flex-direction: column;
            padding: 20px;
        }

        .section-intro {
            display: flex;
            flex-direction: column;
            gap: 16px;
            width: 35%;

            @include mq(tablet-portrait-up) {
                width: 100%;
            }

            .special-offer {
                padding: 4px 12px;
                border-radius: 24px;
                background: #FEE2E2;
                width: fit-content;

                display: flex;
                align-items: center;
                gap: 8px;

                span {
                    color: #DC2626;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 16px;
                    letter-spacing: 0.3px;
                    text-transform: uppercase;
                }
            }

            .intro-description {
                color: #618972;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px;
            }

            .all-sales {
                padding: 12px 24px;
                border-radius: 24px;
                background: #111814;
                width: fit-content;

                span {
                    color: #FFF;
                    text-align: center;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 24px;
                }
            }

        }

        .discounted-products {
            display: grid;
            // grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
            grid-template-columns: repeat(3, 1fr);
            gap: 24px;
            flex-grow: 1;

            @include mq(desktop-up) {
                grid-template-columns: repeat(2, 1fr);
            }

            @include mq(phone-only) {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }

    .popular-products {
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-bottom: 64px;

        .section-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

}