@use "../abstracts/mixins" as *;

.products-page {
    padding: 32px 160px 56px 160px;
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include mq(tablet-portrait-up) {
        padding: 16px;
    }

    .products-hero {
        height: 220px;
        border-radius: 24px;
        overflow: hidden;
        position: relative;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        .hero-text {
            display: flex;
            flex-direction: column;
            gap: 8px;
            position: absolute;
            bottom: 32px;
            left: 32px;
            width: 70%;

            .hero-title {
                color: #FFF;
                font-size: 36px;
                font-style: normal;
                font-weight: 500;
                line-height: 40px;
            }

            .hero-description {
                color: rgba(255, 255, 255, 0.80);
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px;
            }
        }
    }

    .products-container {
        display: flex;
        gap: 32px;

        @include mq(tablet-portrait-up) {
            flex-direction: column;
        }

        .product-filter {
            width: 25%;
            display: flex;
            flex-direction: column;
            gap: 32px;

            @include mq(tablet-portrait-up) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                width: 100%;

                .line {
                    display: none;
                }
            }

            @include mq(phone-only) {
                grid-template-columns: repeat(1, 1fr);
            }

            .line {
                height: 1px;
                background: #E2E8F0;
            }

            .filter-type {
                display: flex;
                flex-direction: column;
                gap: 15px;

                .type-title {
                    margin-bottom: 3px;
                    color: #0F172A;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 28px;
                }

                .form-range {
                    height: 0;
                }

                .filter-inputs {
                    display: flex;
                    flex-direction: column;
                    gap: 12px;

                    .filter-input-div {
                        display: flex;
                        align-items: center;
                        gap: 12px;

                        input {
                            width: 20px;
                            height: 20px;
                            border-radius: 8px;
                            border: 1px solid #D1D5DB;
                            background: #FFF;
                        }

                        label {
                            color: #475569;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 20px;
                        }
                    }

                }

                .ranges {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    span {
                        color: #475569;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 20px;
                    }
                }

            }
        }

        .product-list {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            gap: 24px;

            &-header {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .product-count {
                    color: #0F172A;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 28px;
                }

                .sort {
                    display: flex;
                    align-items: center;
                    gap: 12px;

                    .label {
                        color: #64748B;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 20px;
                    }

                    .select-div {
                        border-radius: 24px;
                        border: 2px solid #E2E8F0;
                        background: #FFF;
                        padding: 10px;
                        min-width: 192px;
                        cursor: pointer;

                        select {
                            color: #0F172A;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 20px;
                            width: 100%;
                        }

                    }
                }

            }

            &-body {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 24px;

                .product-cards {
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
                    gap: 24px;
                    width: 100%;
                }
            }
        }

    }
}