@use '../../abstracts/mixins' as *;

.see-all {
    display: flex;
    align-items: center;
    gap: 8px;

    span {
        color: #11D462;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
    }

    @include mq(tablet-portrait-up) {

        span {
            font-size: 12px;
        }

        img{
            display: none;
        }
    }
}